.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 24.90%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #f7be16;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
    
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #f7be16;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}

.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #27aa80;}
.notHaveImage{
  margin-top:100px;
}
.deliImg{
    margin-left: -20px;
}



.order-tracking-current{
	text-align: center;
	width: 24.90%;
	position: relative;
	display: block;
}
.order-tracking-current .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #f7be16;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking-current .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking-current.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking-current.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking-current p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking-current p span{font-size: 14px;}
.order-tracking-current.completed p{color: #000;}



.order-tracking-current:first-child:before{display: none;}
.order-tracking-current.completed:before{background-color: #27aa80;}


.order-tracking-current::before {
    margin-top: 100px;
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #f7be16;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}

/*! CSS Used from: https://nauthemes.com/html/carga/css/bootstrap.css */
*,::after,::before{box-sizing:border-box;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-4,.col-md-12,.col-md-6,.col-sm-12{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:576px){
.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:768px){
.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
}
.form-group{margin-bottom:1rem;}
.clearfix::after{display:block;clear:both;content:"";}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
}
/*! CSS Used from: https://nauthemes.com/html/carga/css/style.css */
/*! @import https://nauthemes.com/html/carga/css/animate.css */
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp;}
/*! end @import */
*{margin:0;padding:0;border:none;outline:none;}
button:focus{text-decoration:none;outline:none!important;box-shadow:none;}
.theme-btn{cursor:pointer;display:inline-block;transition:all .3s ease;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;}
.btn-style-three{position:relative;padding:11px 35px;line-height:25px;background:orange;color:#fff;font-size:18px;font-weight:700;border-radius:3px;letter-spacing:1px;border:2px solid orange;text-transform:capitalize;font-family:lato,sans-serif;}
.btn-style-three:hover{background:0 0;color:orange;}
.banner-form-two{position:relative;z-index:1;padding:30px;background-color:rgba(255,255,255,.1);}
.banner-form-two .form-group{position:relative;margin-bottom:0;}
.banner-form-two .form-group:last-child{margin-bottom:0;}
.banner-form-two input[type=text]{display:block;width:100%;line-height:23px;height:50px;font-size:14px;padding:10px 20px;background:#fff;color:#222;border-radius:3px;transition:all 500ms ease;-webkit-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;}
.banner-form-two .form-group .theme-btn{width:100%;font-weight:600;font-size:18px;padding:11px 35px 10px;font-family:raleway,sans-serif;}
/*! CSS Used from: https://nauthemes.com/html/carga/css/responsive.css */
@media only screen and (max-width:1023px){
.banner-form-two .form-group .theme-btn{margin-top:30px;}
}
@media only screen and (max-width:767px){
.banner-form-two .form-group:first-child{margin-bottom:30px;}
}
/*! CSS Used keyframes */
@-webkit-keyframes slideInUp{0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible;}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}}
@keyframes slideInUp{0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible;}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}}
